stable-baselines3
matplotlib
traci
sumo-rl
tensorflow-macos
tensorflow-metal
imageio
numpy
gym
tensorboard

matplotlib~=3.8.4
numpy~=1.26.4
sumolib~=1.19.0
pettingzoo~=1.24.3
gymnasium~=0.29.1
pandas
traci~=1.19.0
setuptools~=68.2.0
stable_baselines3~=2.3.0
torch